
/*** HORIZONTAL SCROLL GO-BY***/
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

 .card {
    display: inline-block;
 }

::-webkit-scrollbar {
       height: 6px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #065751;
}