/***** BASE STYLES *****/
body {
  background-image: url("../img/LandingPage.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 2268px;
}

p {
	font-family: "Josefin Slab", serif;
	font-size: 16px;
}

h1 {
	font-family: "Josefin slab", serif;
	font-size: 20px;
	text-transform: uppercase;
}

/***  NAV ***/
#nav-container {
  float: left;
  margin-top: 265px;
  width: 280px;
}

nav ul {
  color: #686868;
  font-family: "Josefin Slab", serif;
  font-size: 18px;
  line-height: 250%;

  text-decoration: none;
}

nav li {
  color: #686868;
}



/***** HORIZONAL SCROLL AREA *****/
/*** PARENT GRID CONTAINER ***/
.grid-container {
  display: inline-grid;
  grid-template-columns: [aboutText] 176px [aboutPhoto] 270px 176px 270px 176px 270px;
  grid-template-rows: auto;
}

.col-1-item {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
}










/*** HORIZONTAL SCROLL GO-BY
https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 200px;
  white-space: nowrap;
}

 .card {
    display: inline-block;
 }

::-webkit-scrollbar {
       height: 6px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #065751;
}
***/
