/***** BASE STYLES *****/
body {
  background-image: url("../img/LandingPage.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  max-height: 100%;
  /*width: 2268px;*/
  max-width: 100%;
  /*overflow-x: hidden;*/

  $(function() {

   $("body").mousewheel(function(event, delta) {

      this.scrollLeft -= (delta * 30);
    
      event.preventDefault();

   });

});
}

p {
	font-family: "Josefin Slab", serif;
	font-size: 16px;
  line-height: 133%;
}

h1 {
	font-family: "Josefin slab", serif;
	font-size: 20px;
	text-transform: uppercase;
}

h3 {
  color: #0076a3;
  font-family: "open sans condensed", sans-serif;
  font-size: 20px;
  line-height: 100%;
  margin: 0;
}

/***  NAV ***/
#nav-container {
  float: left;
  margin-top: 265px;
  width: 280px;
}

nav ul {
  color: #686868;
  font-family: "Josefin Slab", serif;
  font-size: 18px;
  line-height: 250%;
  text-decoration: none;
}

nav li {
  color: #686868;
}

::-webkit-scrollbar {
       height: 6px;
}

#git ::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #065751;
}

/***** HORIZONAL SCROLL AREA *****/

/*** PARENT GRID CONTAINER ***/

.grid-container p {
  text-align: right;
}

.grid-container h3 {
  text-align: right;
}

#parent-container {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-scroll-translation: vertical-to-horizontal;
  scroll-behavior: smooth;
}

.grid-container {
  background-color: #ffffff;
  display: inline-grid;
  grid-column-gap: 18px;
  grid-template-columns: [col1] 196px [col2] 280px [col3] 186px [col4] 280px [col5] 186px [col6] 580px [col7] 186px [col8] 458px [col9] 186px;
  grid-template-rows: auto;
  margin-top: 156px;
     ::-webkit-scrollbar-thumb {
     background-color: #0076a3;
    }
}
 
/***  GRID ITEMS ***/
.col-1-item {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  padding-left: 10px;
}

.col-2-item {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  width: 270px;
  background-image: url('../img/AboutPortrait-sprite.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
}

.col-2-item:hover {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  width: 270px;
  background-image: url('../img/AboutPortrait-sprite.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  overflow: hidden;
}

.col-3-item {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
}

.col-4-item {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  padding-right: 10px;
  background-image: url('../img/HNCK4941-duotone.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
  width: 270px;
}

.col-4-item:hover {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  padding-right: 10px;
  background-image: url('../img/HNCK4941.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
  width: 270px;
}

.col-5-item {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
}

.col-6-item {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  overflow: hidden;
  padding-right: 200px;
  background-image: url('../img/Microsoft-Proposal-2-duotone.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
  width: 580px;
}

.col-6-item:hover {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  overflow: hidden;
  padding-right: 200px;
  background-image: url('../img/Microsoft-Proposal-2.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
  width: 580px;
}

.col-7-item {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
}

.col-8-item {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  background-image: url('../img/Wireframe_Final-duotone.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
  width: 290px;
}

.col-8-item {
  border: 1px solid #0176a2;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  background-image: url('../img/WebfootLandingPage-duotone.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
  width: 458px;
}

.col-8-item:hover {
  border: 1px solid #0176a2;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 70px;
  background-image: url('../img/WebfootLandingPage.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  overflow: hidden;
  width: 458px;
}

.col-9-item {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 1;
}

/*** SCROLLBAR STYLES ***/
.grid-horz-scroll::-webkit-scrollbar {
  height: 6px;
  background-color: #F5F5F5;
}

.grid-horz-scroll::-webkit-scrollbar-thumb {
  background-color: #0076a3;
}



